.container {
    display: grid;
    grid-template-areas: 
    "card1 card1"
    "card2 card2"
    "card3 card3"
    ;
    justify-content: center;
    max-width: 750px;
}

.card-1 {
    grid-area: card1;
    border-radius: 10px 10px 0px 0px;
    background-color: white;

    h1 {
        font-size: 1.2em;
        color: $cyan;
        padding-bottom: 20px;
    }

    p {
        padding-bottom: 20px;

        span {
            color: $bright-yellow;
            font-size: 1em;
            font-weight: bold;
        }
    }

    #p1 {
        line-height: 1.8em;
        padding-bottom: 5px;
        font-size: 14px;
        color: $grayish-blue;
    }

}

.card-2 {
    grid-area: card2;
    background-color: $cyan;
    color: white;
    padding-bottom: 20px;

    h1 {
        font-size: 1.2em;
        color: white;
        padding-bottom: 20px;
    }

    span {
       font-size: 2em;
       font-weight: bold; 
    }

    .paragraph-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 5px;

        p {
            margin-left: 10px;
            color: $grayish-blue;
        }
    }

    #p2 {
        padding-bottom: 30px;
        color: $light-gray;
    }

    .link-container {

        display: flex;
        justify-content: center;

        a {
            text-decoration: none;
            color: white;
            font-weight: bold;
            background-color: $bright-yellow;
            text-align: center;
            padding-top: 15px;
            padding-bottom: 15px;
            width: 100%;
            border-radius: 5px;
            box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.295);
        }

        a:hover {
            background-color: rgb(13, 185, 85);
            transition-duration: .2s;
        }
    }
    

}

.card-3 {
    grid-area: card3;
    background-color: hsl(179, 48%, 52%);
    color: white;
    border-radius: 0px 0px 10px 10px;
    

    h1 {
        font-size: 1.2em;
        color: white;
        padding-bottom: 20px;
    }

    p {
        line-height: 1.6em;
        font-size: 16px;
        padding-right: 70px;
        color: $grayish-blue;
    }
}

.card {
    padding: 25px;
}
